
.App {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.social {
  margin: 7px;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
