
.App {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.social {
  margin: 4px;
  font-size: 36px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.social:hover {
  margin: 0px;
  font-size: 47px;
  transition: all 0.2s ease 0s;
}
